@using Deytek.Models
@model UserSignUpViewModel
@{
ViewData["Title"] = "AddUser";
Layout = "UserLayout";
}


<title>Kullanıcı Ekleme Sayfası</title>
@using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Kullanıcı Ekleme</h4>
                <br />
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.nameSurname"></span>
                    <input type="text" class="form-control" asp-for="@Model.nameSurname" name="nameSurname" placeholder="Adınız Soyadınız">
                </div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.Mail"></span>
                    <input type="email" class="form-control" asp-for="@Model.Mail" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.UserName"></span>
                    <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Kullanıcı Adınız">
                </div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.Password"></span>
                    <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Şifre">
                </div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
                    <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Şifre Tekrar">
                </div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.Image"></span>
                    <input type="file" asp-for="@Model.Image" class="form-control" placeholder="Profil Resmi Seçiniz.">
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Kullanıcı Ekle</button>
                <button class="btn btn-light">İptal</button>
            </div>
        </div>
    </div>
}