@using Deytek.Models
@model UserUpdateViewModel
@{
    ViewData["Title"] = "EditUser";
    Layout = "UserLayout";
}

<title>Kullanıcı Düzenleme Sayfası</title>
@using (Html.BeginForm("EditUser", "User", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kullanıcı Düzenleme Sayfası</h4>
                <br />
                <form class="forms-sample">
                    <div class="form-group">
                        <span class="text-danger" asp-validation-for="@Model.namesurname"></span>
                        <input type="text" class="form-control" asp-for="@Model.namesurname" name="nameSurname" placeholder="Adınız Soyadınız">
                    </div>
                    <div class="form-group">
                        <span class="text-danger" asp-validation-for="@Model.mail"></span>
                        <input type="email" class="form-control" asp-for="@Model.mail" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <span class="text-danger" asp-validation-for="@Model.username"></span>
                        <input type="text" class="form-control" asp-for="@Model.username" placeholder="Kullanıcı Adınız">
                    </div>
                    <div class="form-group">
                        <span class="text-danger" asp-validation-for="@Model.password"></span>
                        <input type="text" class="form-control" asp-for="@Model.password" placeholder="Şifre">
                    </div>
                    <div class="form-group">
                        <span class="text-danger" asp-validation-for="@Model.confirmpassword"></span>
                        <input type="text" class="form-control" asp-for="@Model.confirmpassword" placeholder="Şifre Tekrar">
                    </div>

                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Kullanıcı Güncelle</button>
                    <button class="btn btn-light">İptal</button>
                </form>
            </div>
        </div>
    </div>

}